<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Hospital Database</title>
    </head>
    <body>
        <div id="main-container" class="container-fluid text-center">
            <div class="row">
                <div class="col-md-4 offset-sm-4 column">
                    <form class="">
                        <label>Mode: </label>
                        <select class="form-control" id="" name="">
                            <option selected>Predefined queries</option>
                            <option>Table filling</option>
                            <option>Read all tables</option>
                            <option>Configs</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 column">
                    <form>
                        <a class="btn btn-light my_btn">Select N1</a>
                        <a class="btn btn-light my_btn">Select N2</a>
                        <a class="btn btn-light my_btn">Select N3</a>
                        <a class="btn btn-light my_btn">Select N4</a>
                        <a class="btn btn-light my_btn">Select N5</a>
                    </form>
                </div>
            </div>
        </div>
        <script src="static/bundle.js"></script>
    </body>
</html>
